<!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <head>
        <title>Hello!</title>
        <link rel="stylesheet" th:href="@{/css/homePage.css}" />
        <script th:src="@{/js/homePage.js}"></script>
    </head>

    <body>
        <div>
            <h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>

            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
        </div>
        <br/>
        <div th:if="${userRole == '[ROLE_MANAGER]'}">
            <button class="create-project-btn" onclick="openModal()">Create project</button>

            <div id="create-project-modal" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closeModal()">&times;</span>
                    <form th:method="POST" th:action="@{/projects/create}" th:object="${project}">
                        <label for="name">Name:</label>
                        <input type="text" th:field="*{name}" id="name" name="name" required>

                        <label for="description">Description:</label>
                        <textarea id="description" th:field="*{description}" name="description" required></textarea>

                        <label for="team">Team:</label>
                        <select th:field="*{users}" id="team" name="team" multiple="multiple" required>
                            <option th:each="user : ${allUsers}" th:value="${user.id}" th:text="${user.email} + ' (' + ${user.position} + ')'"></option>
                        </select>

                        <input type="hidden" th:name="${_csrf.parameterName}"  th:value="${_csrf.token}"/>
                        <input type="submit" value="Create"/>
                    </form>
                </div>
            </div>
        </div>

        <div th:if="${not #lists.isEmpty(projects)}">
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Users</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="project : ${projects}">
                    <td th:text="${project.name}"></td>
                    <td th:text="${project.description}"></td>
                    <td>
                        <ul>
                            <li th:each="user : ${project.users}" th:text="${user.email} + ' (' + ${user.position} + ')'"></li>
                        </ul>
                    </td>
                    <td>
                        <a th:href="@{/projects/open/{id}(id=${project.id})}">Open</a>
                            <a th:if="${userRole == '[ROLE_MANAGER]'}" th:href="@{/projects/edit/{id}(id=${project.id})}">Edit</a>
                            <form th:if="${userRole == '[ROLE_MANAGER]'}" th:action="@{/projects/delete/{id}(id=${project.id})}" method="post" onsubmit="return confirm('Are you sure?')">
                                <input type="hidden" name="_method" value="DELETE" />
                                <input type="hidden" th:name="${_csrf.parameterName}"  th:value="${_csrf.token}"/>
                                <button type="submit">Delete</button>
                            </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>