<!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <head>
        <title>Hello!</title>
        <link rel="stylesheet" type="text/css" href="css/homePageStyle.css">
    </head>

    <body>
        <div>
            <h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>

            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
        </div>
        <br/>
        <div th:if="${userRole == '[ROLE_MANAGER]'}">
            <button class="create-project-btn" onclick="openModal()">Create project</button>

            <div id="create-project-modal" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closeModal()">&times;</span>
                    <form th:method="POST" th:action="@{/createProject}" th:object="${project}">
                        <label for="name">Name:</label>
                        <input type="text" th:field="*{name}" id="name" name="name" required>

                        <label for="description">Description:</label>
                        <textarea id="description" th:field="*{description}" name="description" required></textarea>

                        <label for="team">Team:</label>
                        <select th:field="*{users}" id="team" name="team" multiple="multiple">
                            <option th:each="user : ${allUsers}" th:value="${user.id}" th:text="${user.email} + ' (' + ${user.position} + ')'"></option>
                        </select>

                        <button type="submit">Create</button>
                    </form>
                </div>
            </div>
        </div>

        <script src="js/homePageScript.js"></script>
    </body>
</html>