<!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

    <head>
        <title>Spring Security Example </title>
    </head>

    <body>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>

        <form th:method="POST" th:action="@{/registration}" th:object="${user}">
            <label> First name : <input type="text" th:value="*{firstName}" name="firstName"/> </label><br>
            <label> Last name : <input type="text" th:value="*{lastName}" name="lastName"/> </label><br>
            <label> Email : <input type="text" th:value="*{email}" name="email"/> </label><br>
            <label> Position : <input type="text" th:value="*{position}" name="position"/> </label><br>
            <label> Password: <input type="password" th:value="*{password}" name="password"/> </label><br>
            <label> Repeat password: <input type="password" name="repeatPassword"/> </label><br>
            <input type="hidden" th:name="${_csrf.parameterName}"  th:value="${_csrf.token}"/>
            <input type="submit" value="Sign up"/>
        </form>

        <div th:if="${errorMessage}">
            <h2 style="color: red" th:text="${errorMessage}"></h2>
        </div>
    </body>
</html>