<!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

    <head>
        <title>Spring Security Example </title>
    </head>

    <body>
        <form th:method="POST" th:action="@{/registration}" th:object="${user}">
            <label> First name : <input type="text" th:value="*{firstName}" id="firstName" name="firstName" required/> </label><br>
            <label> Last name : <input type="text" th:value="*{lastName}" id="lastName" name="lastName" required/> </label><br>
            <label> Email : <input type="text" th:value="*{email}" id="email" name="email" required pattern="^[-\w.]+@([A-z0-9][-A-z0-9]+\.)+[A-z]{2,4}$"/> </label><br>
            <div th:if="${errorMessage}">
                <a1 style="color: red" th:text="${errorMessage}"></a1>
            </div>
            <label>Your position:</label>
            <select th:field="*{position}">
                <option th:value="'Backend developer'">Backend developer</option>
                <option th:value="'Frontend developer'">Frontend developer</option>
                <option th:value="'QA engineer'">QA engineer</option>
                <option th:value="'Designer'">Designer</option>
                <option th:value="'Bussines Analyst'">Bussines Analyst</option>
                <option th:value="'Project Manager'">Project Manager</option>
                <option th:value="'Product Manager'">Product Manager</option>
            </select><br/>
            <label> Password: <input type="password" th:value="*{password}" id="password" name="password" required pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"/> </label><br>
            <input type="hidden" th:name="${_csrf.parameterName}"  th:value="${_csrf.token}"/>
            <input type="submit" value="Sign up"/>
        </form>

        <a href="/login">Login</a>
    </body>
</html>